{% load socialaccount %}


{% for provider in socialaccount.providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <a title="{{brand.name}}" 
     class="socialaccount_provider {{provider.id}} {{brand.id}}" 
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     >{{brand.name}}</a>
</li>
{% endfor %}
{% endif %}
<li>
  <a title="{{provider.name}}" class="socialaccount_provider btn btn-primary btn-lg {{provider.id}}" 
     href="{% provider_login_url provider.id process=process %}">{% ifequal provider.name|lower 'google' %}
<i class="fa fa-google-plus"></i>{% else %}<i class="fa fa-{{ provider.name|lower }}"></i> {% endifequal %} {{provider.name}}</a>


</li>
{% endfor %}

