@mixin selectCity($arrowimage,$width){
    background-image:$arrowimage;
    width:$width;
    background-size:15px 15px;
}

@mixin citysearchdiv($width,$height){
width : $width;
height:$height; 
}

@mixin inputsearch($width){
   width : $width;
}