﻿
$stcolor:#5A0884;
$mallcolor:#0294C1;
$brandcolor:#5D6D41;
$searchcolor:#CC0202;
$mallwidgetpostion:-40px;
$selectarrow:url(../images/drop-down-arrow.png);
$selectarrowred:url(../images/arrow_icon-red.jpg);
$citysearchwidth:244px;
$cityseachheight:46px;
