﻿body{
   line-height:16px;
}
article{
    width:1100px;
    margin-left:auto;
    margin-right:auto;
}
section article:first-child{
    width:auto;
    form{
        width:1100px;
        margin-left:auto;
        margin-right:auto;
.bootstrap-select{
            margin-top:6px !important;
}
.cityNameDashboard{
    margin-left:430px !important;
}        
    }

}
.bootstrap-select{
            
           .btn-default{    
               background:#fff;
               padding-left:10px;
           }
           
        }
input[type="text"]{
    border:1px solid #777;
    border-radius:5px;
    height:35px;
    width:100%;
    margin-bottom:20px;
    padding-left:10px;
    font-size:12px;
}
textarea{
    border:1px solid #777;
    border-radius:5px;
    height:65px;
    width:100%;
    margin-bottom:20px;
    padding-left:10px;
  font-size:12px;
}
input[type=number]{
border:1px solid #777;
    border-radius:5px;
    height:35px;
    width:100%;
    margin-bottom:20px;
    padding-left:10px;
    font-size:12px;
}
input[type=tel]{
    border:1px solid #777;
    border-radius:5px;
    height:35px;
    width:100%;
    margin-bottom:20px;
    padding-left:10px;
    font-size:12px;
}
.editPageCtrl{
    float:right;
    input{
        height:40px;
        padding-left:10px;
        padding-right:10px;
        border-radius:5px;
        color:#fff;
        background:#000;
        border:none;
    }
    input:last-child{
        color:#000;
        background:#fff;
        border: 1px solid #777;
    }
}
h3{
   padding-top:25px;
    font-size:18px;
}
hr{
    margin-top:10px;
}
.mainSelect{
    width:100% !important;
    margin-bottom:20px;
}
.timeSelect{
    width:60px !important;
}
.timeLabel{
    margin-right:20px;
}
.timingLabelTo{
    margin-top:20px;
    margin-right:57px;
    margin-bottom:25px;
}
label{
    font-weight:normal;
}
.dashboardMainDiv{
    >div:first-child{
       
        float:left;
        margin-right:5%;
       
    }
    >div:last-child{
        
        float:right;
        
    }
    >div{
        width:30%;
        display:inline-block;
        .floorSelect{
            width:55px !important;
            margin-left:45px !important;
        }
        #basementLebel{
            margin-top:20px;
            margin-bottom:25px;
            margin-right:-30px;
        }
       
    }
}
.fileUploadWidget{
    display:inline-block;
    width:55px;
    input[type=file]{
        display:none;
    }

    img{
        background:#000000;
        width:50px;
        height:50px;
        border-radius:10px;
    }
    input[type=image]{
        background:#000;
        position:absolute;
        margin-left:-20px;
        margin-top:3px;
    }
    .fileUploadWidgetSelect{
        width:50px !important;
        margin-top:10px;
    }
}
.fullLabel{
    margin-top:20px;    

}
.fullLabelTop{
    margin-bottom:20px;
}
.floorPlanLabel{
    margin-left:190px;
}
.floorPlanBut{
    width:70px;
    height:35px;
    background:#000;
    border:none;
    border-radius:5px;
    color:#fff;
}
.singleBut{
    float:right;
    width:75px !important;
}
.cityNameStoreDashboard{
    margin-left:195px !important;
}

.extaSizeWidget{
    width:70px;
    img{
        width:65px;
        height:65px;
    }
}
.dashboardOffersMainDiv{
    input[type=text]{
        width:250px;
        margin-right:20px;
    }
    .mallDetails{
        label{
            margin-left:400px;   
        }
    }
    .dashboardOffersWidget{
        width:49%;
        display:inline-block;
        
        background:#f5f4f3;
        padding:30px 20px 30px 20px;
        border: 1px solid #dcd9d5;
        input[type=text]{
            background:transparent;
        }
        textarea{
            width:250px;
             background:transparent;
        }
        >div{
            display:inline-block;
        }
        >div:first-child{
            width:285px;
        }
        >div:last-child{
            float:right;
           margin-top:55px;
        }



    }
}
.offerDashboardDiv{
    :nth-child(odd){
        margin-right:1%;
    }
}
.customSelect .open > .dropdown-toggle.btn-default{
    background:#fff !important;
}