﻿body {
  line-height: 16px; }

article {
  width: 1100px;
  margin-left: auto;
  margin-right: auto; }

section article:first-child {
  width: auto; }
  section article:first-child form {
    width: 1100px;
    margin-left: auto;
    margin-right: auto; }
    section article:first-child form .bootstrap-select {
      margin-top: 6px !important; }
    section article:first-child form .cityNameDashboard {
      margin-left: 430px !important; }

.bootstrap-select .btn-default {
  background: #fff;
  padding-left: 10px; }

input[type="text"] {
  border: 1px solid #777;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 12px; }

textarea {
  border: 1px solid #777;
  border-radius: 5px;
  height: 65px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 12px; }

input[type=number] {
  border: 1px solid #777;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 12px; }

input[type=tel] {
  border: 1px solid #777;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 12px; }

.editPageCtrl {
  float: right; }
  .editPageCtrl input {
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    color: #fff;
    background: #000;
    border: none; }
  .editPageCtrl input:last-child {
    color: #000;
    background: #fff;
    border: 1px solid #777; }

h3 {
  padding-top: 25px;
  font-size: 18px; }

hr {
  margin-top: 10px; }

.mainSelect {
  width: 100% !important;
  margin-bottom: 20px; }

.timeSelect {
  width: 60px !important; }

.timeLabel {
  margin-right: 20px; }

.timingLabelTo {
  margin-top: 20px;
  margin-right: 57px;
  margin-bottom: 25px; }

label {
  font-weight: normal; }

.dashboardMainDiv > div:first-child {
  float: left;
  margin-right: 5%; }
.dashboardMainDiv > div:last-child {
  float: right; }
.dashboardMainDiv > div {
  width: 30%;
  display: inline-block; }
  .dashboardMainDiv > div .floorSelect {
    width: 55px !important;
    margin-left: 45px !important; }
  .dashboardMainDiv > div #basementLebel {
    margin-top: 20px;
    margin-bottom: 25px;
    margin-right: -30px; }

.fileUploadWidget {
  display: inline-block;
  width: 55px; }
  .fileUploadWidget input[type=file] {
    display: none; }
  .fileUploadWidget img {
    background: #000000;
    width: 50px;
    height: 50px;
    border-radius: 10px; }
  .fileUploadWidget input[type=image] {
    background: #000;
    position: absolute;
    margin-left: -20px;
    margin-top: 3px; }
  .fileUploadWidget .fileUploadWidgetSelect {
    width: 50px !important;
    margin-top: 10px; }

.fullLabel {
  margin-top: 20px; }

.fullLabelTop {
  margin-bottom: 20px; }

.floorPlanLabel {
  margin-left: 190px; }

.floorPlanBut {
  width: 70px;
  height: 35px;
  background: #000;
  border: none;
  border-radius: 5px;
  color: #fff; }

.singleBut {
  float: right;
  width: 75px !important; }

.cityNameStoreDashboard {
  margin-left: 195px !important; }

.extaSizeWidget {
  width: 70px; }
  .extaSizeWidget img {
    width: 65px;
    height: 65px; }

.dashboardOffersMainDiv input[type=text] {
  width: 250px;
  margin-right: 20px; }
.dashboardOffersMainDiv .mallDetails label {
  margin-left: 400px; }
.dashboardOffersMainDiv .dashboardOffersWidget {
  width: 49%;
  display: inline-block;
  background: #f5f4f3;
  padding: 30px 20px 30px 20px;
  border: 1px solid #dcd9d5; }
  .dashboardOffersMainDiv .dashboardOffersWidget input[type=text] {
    background: transparent; }
  .dashboardOffersMainDiv .dashboardOffersWidget textarea {
    width: 250px;
    background: transparent; }
  .dashboardOffersMainDiv .dashboardOffersWidget > div {
    display: inline-block; }
  .dashboardOffersMainDiv .dashboardOffersWidget > div:first-child {
    width: 285px; }
  .dashboardOffersMainDiv .dashboardOffersWidget > div:last-child {
    float: right;
    margin-top: 55px; }

.offerDashboardDiv :nth-child(odd) {
  margin-right: 1%; }

.customSelect .open > .dropdown-toggle.btn-default {
  background: #fff !important; }

/*# sourceMappingURL=dashboard.css.map */