﻿@font-face {
  font-family: helvetica;
  src: url(/font/Helvetica.ttf); }

@font-face {
  font-family: helveticaLight;
  src: url(/font/Helvetica-Light.ttf); }

@font-face {
  font-family: helveticaBold;
  src: url(/font/Helvetica-Bold.ttf); }

body {
  line-height: 16px;
  font-family: helvetica;
  margin: 0;
  color: #636363; }

#homePage {
  background: url(/images/background.jpg) no-repeat center transparent;
  background-size: cover;
  height: 90vh; }

.logIn {
  font-family: helveticaLight;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block; }

#homePage .logIn {
  color: white; }
  #homePage .logIn a {
    text-decoration: none;
    color: #fff; }

#siteLogo img {
  width: 159px; }

header {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15px;
  margin-bottom: 15px; }
  header div {
    display: inline-block; }
  header .logInDiv {
    float: right;
    margin-top: 20px; }

#homePage header {
  margin-top: 3%; }

#homePageSection {
  width: 874px;
  margin-left: auto;
  margin-right: auto; }

#homeFooter {
  width: 874px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px; }

#footerMenu {
  list-style: none;
  font-family: helveticaLight;
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 30%;
  margin-top: 20px; }
  #footerMenu li {
    display: inline;
    margin-right: 10px; }
    #footerMenu li a {
      text-decoration: none;
      color: white; }

section > article {
  width: 1100px;
  margin-left: auto;
  margin-right: auto; }

section > article:first-child {
  width: auto; }

.searchWidgetHome {
  margin-top: 60px;
  width: auto; }

.searchFormHome {
  height: 48px;
  font-size: 15px; }

#homepage .bannerText, #homepage .bannerTextHome, #homepage .bannerTextMall, #homepage .bannerTextStore, #homepage .bannerTextBrand {
  background: #161616; }

.searchWidgetCommon, .searchWidgetSearch, .searchWidget {
  height: 45px;
  margin-left: auto;
  margin-right: auto; }

.searchWidgetSearch {
  background: #CC0202; }

.searchWidget {
  margin-top: -62px;
  margin-left: 55px; }

.searchFormCommon, .searchForm, .searchFormSearch {
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px; }

.searchForm {
  width: 675px;
  margin-top: 10px; }

.citySearchCommon, .citySearchHome, .citySearchResult, .citySearch {
  background: #ffffff;
  border: 1px solid white;
  border-radius: 3px; }

.citySearchHome {
  width: 244px;
  height: 46px;
  margin-top: 1px; }

.citySearchResult, .citySearch {
  width: 230px;
  height: 36px; }

.citySearch {
  border-color: #9E9E9E; }

.cityIcon, .cityIconHome {
  border: none;
  width: 15px;
  margin: 10px 5px 5px 10px; }

.cityIconHome {
  margin-top: 15px; }

.selectCityStyle, .selectCityHome, .selectcitySearch, .selectCity {
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: 92% 50% no-repeat transparent;
  float: right;
  height: 100%; }

.selectCityHome {
  background-image: url(../images/drop-down-arrow.png);
  width: 210px;
  background-size: 15px 15px; }

.selectcitySearch {
  background-image: url(../images/arrow_icon-red.jpg);
  width: 200px;
  background-size: 15px 15px; }

.selectCity {
  background-image: url(../images/drop-down-arrow.png);
  width: 200px;
  background-size: 15px 15px; }

.searchQuerryHome {
  float: right; }

.searchQuerry {
  float: right;
  height: 36px; }

.searchInputCommon, .searchInputHome, .searchInputResult, .searchInput {
  height: 100%;
  border: 1px solid white;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 5px; }

.searchInputHome {
  width: 510px;
  height: 46px; }

.searchInputResult, .searchInput {
  width: 325px; }

.searchInput {
  border-color: #9E9E9E; }

.submitButton, .homeSubmitButton, .searchSubmitButton, .SubmitButtonMall, .SubmitButtonStore, .SubmitButtonBrand {
  border: none;
  width: 90px;
  color: white;
  border-radius: 3px;
  height: 36px;
  margin-left: 1px;
  font-family: helveticaBold; }

.homeSubmitButton {
  background-color: #CC0202;
  height: 48px;
  width: 110px; }

.searchSubmitButton {
  background-color: #fff;
  color: #CC0202; }

.SubmitButtonMall {
  background-color: #0294C1; }

.SubmitButtonStore {
  background-color: #5A0884; }

.SubmitButtonBrand {
  background-color: #5D6D41; }

.searchSeperator {
  margin-left: 12px;
  margin-right: 13px;
  border-left: 1px solid #fff;
  opacity: 0.6; }

.sliderWidget {
  margin-top: 20px;
  width: auto; }

.mapViewSlider {
  display: none; }

.sliderViewMap {
  display: none; }

.mapView {
  height: 309px;
  background: #000;
  content: "map"; }

.slider {
  width: 100%;
  height: 309px;
  position: relative; }
  .slider div {
    display: none; }
    .slider div img {
      width: 100%;
      height: 309px; }
    .slider div:first-child {
      display: block; }

.slick-arrows, .slick-prev, .slick-next {
  position: absolute;
  top: 40%;
  z-index: 12; }

.slick-next {
  left: 97%; }

.sliderWidgets {
  position: absolute;
  margin-top: -308px;
  height: 308px;
  width: 340px;
  background: #1C1A15;
  opacity: 0.9;
  margin-left: 62%;
  color: #fff; }
  .sliderWidgets .sliderWidgetsTitle, .sliderWidgets .sliderWidgetsTitleMall, .sliderWidgets .sliderWidgetsTitleStore, .sliderWidgets .sliderWidgetsTitleBrand {
    height: 45px;
    margin-top: 15px; }
    .sliderWidgets .sliderWidgetsTitle div, .sliderWidgets .sliderWidgetsTitleMall div, .sliderWidgets .sliderWidgetsTitleStore div, .sliderWidgets .sliderWidgetsTitleBrand div {
      padding: 17px;
      display: inline-block; }
    .sliderWidgets .sliderWidgetsTitle .ratingHeading, .sliderWidgets .sliderWidgetsTitleMall .ratingHeading, .sliderWidgets .sliderWidgetsTitleStore .ratingHeading, .sliderWidgets .sliderWidgetsTitleBrand .ratingHeading {
      float: right; }
  .sliderWidgets .sliderWidgetDes {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 12px; }
    .sliderWidgets .sliderWidgetDes div {
      display: inline-block; }
    .sliderWidgets .sliderWidgetDes .sliderWidgetRating, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingMall, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingStore, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingBrand {
      margin-left: 15%; }
      .sliderWidgets .sliderWidgetDes .sliderWidgetRating div, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingMall div, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingStore div, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingBrand div {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        padding-left: 7px;
        padding-top: 2px;
        margin-left: 5px;
        background: #fff; }
      .sliderWidgets .sliderWidgetDes .sliderWidgetRating .selectedRating, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingMall .selectedRating, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingStore .selectedRating, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingBrand .selectedRating, .sliderWidgets .sliderWidgetDes .sliderWidgetRating .selectedRatingMall, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingMall .selectedRatingMall, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingStore .selectedRatingMall, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingBrand .selectedRatingMall, .sliderWidgets .sliderWidgetDes .sliderWidgetRating .selectedRatingStore, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingMall .selectedRatingStore, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingStore .selectedRatingStore, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingBrand .selectedRatingStore, .sliderWidgets .sliderWidgetDes .sliderWidgetRating .selectedRatingBrand, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingMall .selectedRatingBrand, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingStore .selectedRatingBrand, .sliderWidgets .sliderWidgetDes .sliderWidgetRatingBrand .selectedRatingBrand {
        color: #fff; }
  .sliderWidgets p {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 20px; }
  .sliderWidgets .aboutMall {
    margin-left: 20px;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 12px; }
  .sliderWidgets .sliderWidgetsButton {
    width: 125px;
    height: 32px;
    background: url('../images/on-the-map.png') no-repeat 95% 50% #fff;
    border-radius: 2px;
    background-size: 20px 20px;
    color: #000;
    font-size: 14px;
    padding: 9px;
    margin-left: 20px;
    margin-top: 90px;
    cursor: pointer; }

.sliderWidgetsTitleMall {
  background: #0294C1; }

.sliderWidgetsTitleStore {
  background: #5A0884; }

.sliderWidgetsTitleBrand {
  background: #5D6D41; }

.selectedRatingMall {
  background: #0294C1 !important; }

.selectedRatingStore {
  background: #5A0884 !important; }

.selectedRatingBrand {
  background: #5D6D41 !important; }

.sliderWidgetRatingMall div {
  color: #0294C1;
  cursor: pointer; }

.sliderWidgetRatingStore div {
  color: #5A0884; }

.sliderWidgetRatingBrand div {
  color: #5D6D41; }

.widgetTitle, .widgetTitleHome {
  font-size: 14px;
  text-transform: uppercase;
  margin: 25px 0 0 0; }

.widgetTitleHome {
  color: white; }

.bannerWidget, .bannerWidgetHome, .bannerWidgetCommon, .bannerWidgetMall, .bannerWidgetStore, .bannerWidgetBrand {
  display: inline-block;
  border: 1px solid #7C7C7C;
  border-radius: 10px; }

.bannerWidgetHome {
  width: 213px; }

.bannerWidgetCommon, .bannerWidgetMall, .bannerWidgetStore, .bannerWidgetBrand {
  width: 362px;
  background: url(../images/offers.png) 0% 0% no-repeat;
  background-size: 362px 160px;
  height: 200px;
  margin-right: 7px; }
  .bannerWidgetCommon:first-child, .bannerWidgetMall:first-child, .bannerWidgetStore:first-child, .bannerWidgetBrand:first-child {
    float: left; }
  .bannerWidgetCommon .roundDiv, .bannerWidgetMall .roundDiv, .bannerWidgetStore .roundDiv, .bannerWidgetBrand .roundDiv {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background: #000;
    color: #fff;
    padding: 40px 20px;
    margin-top: 70px;
    margin-bottom: 10px;
    margin-left: 272px;
    opacity: 0.8; }
  .bannerWidgetCommon .roundDivText, .bannerWidgetMall .roundDivText, .bannerWidgetStore .roundDivText, .bannerWidgetBrand .roundDivText {
    margin-left: 288px;
    position: absolute;
    margin-top: -55px;
    font-weight: bold;
    color: #fff; }
  .bannerWidgetCommon .bannerWidgetText, .bannerWidgetMall .bannerWidgetText, .bannerWidgetStore .bannerWidgetText, .bannerWidgetBrand .bannerWidgetText {
    font-size: 14px;
    padding-top: 5px;
    width: 100%;
    text-align: center;
    height: 25px;
    background: #000;
    color: #fff;
    margin-top: 133px;
    opacity: 0.8; }
  .bannerWidgetCommon .bannerWidgetTextDiv, .bannerWidgetMall .bannerWidgetTextDiv, .bannerWidgetStore .bannerWidgetTextDiv, .bannerWidgetBrand .bannerWidgetTextDiv {
    position: absolute;
    width: 389px;
    margin-top: -22px;
    text-align: center;
    color: #fff; }
  .bannerWidgetCommon .mayLikeBox, .bannerWidgetMall .mayLikeBox, .bannerWidgetStore .mayLikeBox, .bannerWidgetBrand .mayLikeBox {
    margin-top: 158px; }
  .bannerWidgetCommon .bannerText, .bannerWidgetMall .bannerText, .bannerWidgetStore .bannerText, .bannerWidgetBrand .bannerText, .bannerWidgetCommon .bannerTextHome, .bannerWidgetMall .bannerTextHome, .bannerWidgetStore .bannerTextHome, .bannerWidgetBrand .bannerTextHome, .bannerWidgetCommon .bannerTextMall, .bannerWidgetMall .bannerTextMall, .bannerWidgetStore .bannerTextMall, .bannerWidgetBrand .bannerTextMall, .bannerWidgetCommon .bannerTextStore, .bannerWidgetMall .bannerTextStore, .bannerWidgetStore .bannerTextStore, .bannerWidgetBrand .bannerTextStore, .bannerWidgetCommon .bannerTextBrand, .bannerWidgetMall .bannerTextBrand, .bannerWidgetStore .bannerTextBrand, .bannerWidgetBrand .bannerTextBrand {
    text-align: left;
    color: #0294C1; }
    .bannerWidgetCommon .bannerText span, .bannerWidgetMall .bannerText span, .bannerWidgetStore .bannerText span, .bannerWidgetBrand .bannerText span, .bannerWidgetCommon .bannerTextHome span, .bannerWidgetMall .bannerTextHome span, .bannerWidgetStore .bannerTextHome span, .bannerWidgetBrand .bannerTextHome span, .bannerWidgetCommon .bannerTextMall span, .bannerWidgetMall .bannerTextMall span, .bannerWidgetStore .bannerTextMall span, .bannerWidgetBrand .bannerTextMall span, .bannerWidgetCommon .bannerTextStore span, .bannerWidgetMall .bannerTextStore span, .bannerWidgetStore .bannerTextStore span, .bannerWidgetBrand .bannerTextStore span, .bannerWidgetCommon .bannerTextBrand span, .bannerWidgetMall .bannerTextBrand span, .bannerWidgetStore .bannerTextBrand span, .bannerWidgetBrand .bannerTextBrand span {
      float: right;
      text-decoration: none;
      cursor: pointer; }

.bannerWidgetMall {
  border-color: #0294C1; }

.bannerWidgetStore {
  border-color: #5A0884; }

.bannerWidgetBrand {
  border-color: #5D6D41; }

.mayLikeDiv {
  background: url(../images/offers.png) 0% 0% no-repeat;
  float: right;
  width: 362px;
  margin-right: 0; }
  .mayLikeDiv .bannerWidgetArrow {
    margin-left: 250px; }

.sepLineHome {
  margin-bottom: 10px;
  margin-top: 10px; }

.bannerImg {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }

#homePage .bannerImg {
  width: 212px; }

.bannerText, .bannerTextHome, .bannerTextMall, .bannerTextStore, .bannerTextBrand {
  font-size: 10px;
  height: 40px;
  padding: 11px;
  text-align: center;
  text-transform: uppercase;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px; }

.bWAutoSlider .bannerTextCommon {
  margin-top: -2px; }

.bannerTextHome {
  height: 40px;
  padding: 15px 10px 0 10px;
  color: #eaeaea;
  background: #000;
  margin-top: -5px; }

.bannerTextMall {
  color: #eaeaea;
  background: #eaeaea; }

.bannerTextStore {
  color: #5A0884 !important;
  background: #eaeaea; }

.bannerTextBrand {
  color: #5D6D41 !important;
  background: #eaeaea; }

.gallery .galleryTitle div {
  display: inline-block; }
  .gallery .galleryTitle div:last-child {
    float: right;
    margin-top: 25px; }
.gallery .imgGallery {
  display: inline-block; }
  .gallery .imgGallery img {
    border-radius: 10px;
    width: 271px; }

.signIn {
  margin-right: 10px; }

#socialIcons {
  margin-left: 45.5%;
  margin-top: 25px; }
  #socialIcons img {
    width: 34px; }
  #socialIcons a {
    cursor: pointer; }

#bannerWidgetArticle {
  height: 224px;
  color: #fff;
  width: 873px; }

.sepLine, .sepLineResult {
  border-top: 1px solid #969696;
  border-bottom: none;
  opacity: 0.5;
  margin-bottom: 12px; }

.serLineHome {
  border-top-color: #fcfcfc; }

.ilCls {
  display: inline-block; }

#arrowSld {
  float: right;
  margin-top: 20px; }
  #arrowSld input {
    width: 22px; }

#homeTagLine {
  color: white;
  text-align: center;
  font-size: 28px;
  font-family: helveticaLight;
  letter-spacing: 1px; }

.searchResultsArticle {
  margin-left: auto;
  margin-right: auto;
  width: 1100px; }
  .searchResultsArticle .searchheadings {
    margin-top: 20px;
    color: #3f3f3f; }
    .searchResultsArticle .searchheadings div {
      font-family: helveticaBold;
      display: inline-block;
      margin-top: 10px;
      font-size: 14px; }
      .searchResultsArticle .searchheadings div label {
        margin-left: 380px;
        font-weight: normal;
        font-family: helveticaLight;
        margin-right: 45px; }
        .searchResultsArticle .searchheadings div label span {
          margin-right: 5px; }
      .searchResultsArticle .searchheadings div:first-child {
        width: 25%;
        margin-right: 1.5%; }

.selectedFilter {
  color: #fff;
  min-width: 58px;
  height: 25px;
  padding-left: 5px;
  padding-top: 4px;
  font-size: 12px;
  display: inline-block;
  background: url(../images/cross-icon.png) no-repeat 95% 50% #606060;
  background-size: 15px 15px; }

.searchResultsDiv {
  margin-top: 28px; }
  .searchResultsDiv > div {
    display: inline-block; }
  .searchResultsDiv .filterSearch {
    width: 275px;
    margin-right: 0.5%;
    float: left; }
  .searchResultsDiv .searchResults {
    width: 50%;
    margin-right: 1.5%;
    margin-top: 3px; }
  .searchResultsDiv .relatedSearch {
    width: 22%;
    float: right; }
    .searchResultsDiv .relatedSearch .relatedSearchWidget img {
      width: 240px;
      margin-bottom: 5px; }

#filterResultNumber {
  float: right;
  margin-right: 33px;
  font-weight: normal;
  font-size: 12px;
  font-family: helveticaLight; }
  #filterResultNumber span {
    margin-right: 5px; }

.hideFilter {
  display: none; }

.filterWidgetCommon, .locationSearchInput, .FilterSearchlocations {
  border-radius: 2px;
  border: 1px solid #969696;
  margin-top: 20px; }

.locationSearchInput {
  width: 245px;
  height: 30px;
  font-family: helveticaLight;
  font-size: 12px;
  padding-left: 15px; }

.FilterSearchlocations {
  padding: 5px;
  height: 140px;
  width: 245px;
  margin-bottom: 20px; }
  .FilterSearchlocations > div {
    font-size: 12px;
    font-family: helveticaLight;
    padding: 10px; }

.filterSelect {
  margin-top: 10px;
  height: 35px;
  width: 245px;
  border: 1px solid #7c7c7c;
  padding: 9px 0 0 15px;
  font-family: helveticaBold;
  font-size: 12px;
  color: #515151;
  cursor: pointer; }

.filterArrow {
  position: absolute;
  margin-top: -26px;
  margin-left: 220px;
  width: 12px;
  cursor: pointer; }
  .filterArrow img {
    width: 15px; }

.filterOpen {
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  margin-left: 225px !important; }

.searchResultsWidget {
  height: 130px;
  font-size: 13px; }
  .searchResultsWidget > div {
    display: inline-block; }
    .searchResultsWidget > div:first-child {
      width: 30%; }
      .searchResultsWidget > div:first-child img {
        width: 132px;
        height: 132px; }
    .searchResultsWidget > div:last-child {
      width: 70%;
      float: right; }
      .searchResultsWidget > div:last-child .mallname {
        font-family: helveticaBold; }
      .searchResultsWidget > div:last-child .resultType {
        float: right;
        font-family: helveticaLight;
        width: 65px;
        height: 30px;
        color: #fff;
        text-align: center;
        padding-top: 7px; }
      .searchResultsWidget > div:last-child .brandType {
        background: #5D6D41; }
      .searchResultsWidget > div:last-child .storeType {
        background: #5A0884; }
      .searchResultsWidget > div:last-child .mallType {
        background: #0294C1; }
      .searchResultsWidget > div:last-child .resultLocation {
        margin-top: 20px;
        margin-bottom: 20px; }
        .searchResultsWidget > div:last-child .resultLocation span {
          font-family: helveticaLight;
          margin-left: 5px; }
      .searchResultsWidget > div:last-child p {
        font-family: helveticaLight; }
      .searchResultsWidget > div:last-child .moreResultsBut {
        font-family: helveticaLight;
        border: 1px solid #7A7A7A;
        width: 50px;
        height: 25px;
        border-radius: 3px;
        background: #fff;
        margin-top: 15px; }
      .searchResultsWidget > div:last-child .resultRating {
        font-family: helveticaLight;
        font-size: 12px;
        float: right;
        background: none; }

.relatedSearch h4 {
  margin-top: 0;
  margin-bottom: 13px;
  font-size: 14px; }
.relatedSearch .nearByPlaceList {
  list-style: none;
  padding-left: 0;
  font-size: 14px;
  font-family: helveticaLight; }

.mallType {
  color: #0294C1; }

.brandType {
  color: #5D6D41; }

.storeType {
  color: #5A0884; }

.ProductSection {
  width: 1100px;
  margin-left: auto;
  margin-right: auto; }

.contactForm > div {
  display: inline-block; }
  .contactForm > div input[type="text"], .contactForm > div .txtarea {
    width: 100%;
    border: 1px solid #9E9E9E;
    border-radius: 5px;
    padding-left: 10px;
    margin-top: 10px; }
  .contactForm > div input[type="submit"] {
    width: 130px;
    height: 60px;
    border: 0;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
    float: right; }
  .contactForm > div .txtarea {
    padding-top: 10px;
    font-family: helveticaLight;
    font-size: 14px; }
  .contactForm > div:first-child {
    width: 56%;
    border-right: 1px solid #7f7f7f;
    padding-right: 40px; }
    .contactForm > div:first-child .comment {
      height: 200px; }
  .contactForm > div:last-child {
    font-family: helveticaLight;
    width: 40%;
    float: right;
    height: 350px;
    border: 1px solid #7A7A7A;
    border-radius: 5px;
    overflow-y: scroll;
    margin-top: 10px; }
    .contactForm > div:last-child .reviewsWidget {
      margin-top: 20px; }
      .contactForm > div:last-child .reviewsWidget .reviewHead {
        background: #aaaaaa;
        color: #fff;
        height: 30px;
        padding-top: 8px; }
        .contactForm > div:last-child .reviewsWidget .reviewHead span:first-child {
          margin-left: 20px; }
        .contactForm > div:last-child .reviewsWidget .reviewHead span:last-child {
          float: right;
          margin-right: 20px; }
      .contactForm > div:last-child .reviewsWidget .reviewsComment {
        max-height: 80px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 14px; }
      .contactForm > div:last-child .reviewsWidget input {
        border: 0;
        width: 70px;
        font-family: helveticaBold;
        font-size: 12px;
        height: 25px;
        border-radius: 3px;
        background: #fff;
        margin-top: 15px;
        margin-left: 15px; }

.marquee {
  width: 300px;
  overflow: hidden;
  height: 300px;
  margin-bottom: 28px; }

.js-marquee {
  margin-bottom: 0 !important; }
  .js-marquee img {
    cursor: pointer; }

.brandStoreWidget {
  width: 266px;
  display: inline-block;
  margin-right: 10px; }
  .brandStoreWidget h4 {
    font-size: 14px;
    text-transform: uppercase; }
  .brandStoreWidget p {
    font-size: 12px;
    line-height: 25px; }
    .brandStoreWidget p span {
      cursor: pointer;
      font-size: 12px;
      font-weight: bold; }

.brandStoreSection > .brandStoreWidget:last-child {
  margin-right: 0; }

.brandSliderImg {
  padding: 0 !important;
  margin-left: 20px; }

.storeWidgeButtons {
  margin-top: 20px; }
  .storeWidgeButtons div:first-child {
    margin-left: 20px;
    margin-right: 30px; }
  .storeWidgeButtons .sliderWidgetsLinks {
    display: inline-block;
    width: 130px;
    height: 32px;
    background: #fff;
    border-radius: 2px;
    font-size: 14px;
    padding: 8px;
    color: #868787;
    text-align: center; }

.productsDiv {
  margin-top: 25px; }
  .productsDiv div:last-child {
    margin-right: 0; }

.productsWidget {
  display: inline-block;
  width: 166px;
  margin-right: 19px; }
  .productsWidget img {
    border-radius: 2px; }
  .productsWidget .productTitle {
    text-align: center;
    margin-top: 10px; }

#storeResultsArticle {
  color: #000; }
  #storeResultsArticle > div:first-child {
    margin-top: 30px; }
    #storeResultsArticle > div:first-child div {
      font-size: 14px;
      font-family: helveticaLight;
      display: inline-block; }
    #storeResultsArticle > div:first-child div:first-child {
      width: 69%; }
    #storeResultsArticle > div:first-child div:last-child {
      width: 30%; }
  #storeResultsArticle #storeResults {
    width: 69%;
    display: inline-block; }
    #storeResultsArticle #storeResults #storeSearchBox {
      width: 694px;
      border: 1px solid #ADADAD;
      border-radius: 3px;
      height: 36px;
      padding-right: 40px;
      margin-top: 15px;
      margin-bottom: 15px; }
    #storeResultsArticle #storeResults #searchIconStore {
      position: absolute;
      width: 22px;
      margin-left: -35px;
      margin-top: 25px; }
    #storeResultsArticle #storeResults .storeWidgetMap {
      display: inline-block;
      margin-right: 15px;
      margin-top: 15px;
      width: 130px;
      height: 130px;
      border-radius: 5px;
      background: url("../images/apple-_main-.png") center no-repeat;
      border: 1px solid #ADADAD; }
      #storeResultsArticle #storeResults .storeWidgetMap .storeWidgetTitle {
        background: #282828;
        text-align: center;
        color: #fff;
        font-size: 14px;
        font-family: helveticaLight;
        height: 28px;
        padding-top: 6px;
        margin-top: 100px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px; }
  #storeResultsArticle #storeResultsMap {
    float: right;
    width: 30%;
    display: inline-block;
    height: 530px;
    border: 1px solid #ADADAD;
    background: url(../images/map.png) no-repeat center; }
    #storeResultsArticle #storeResultsMap .storeMapFloors {
      background: #282828;
      text-align: center;
      color: #fff;
      width: 50px;
      height: 50px;
      padding-top: 9px;
      font-size: 14px;
      font-family: helveticaLight;
      border-radius: 5px;
      display: inline-block; }

.rightArrowMap {
  float: right; }

.mapFloors {
  margin-top: 450px; }
  .mapFloors div {
    display: inline-block; }

#rightArrowFloor {
  margin-top: 17px; }

.lightBox {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: #000;
  opacity: 0.6; }

.white-popup {
  position: relative;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto; }
  .white-popup .popUp {
    border-radius: 5px; }
    .white-popup .popUp .popUpHeader {
      height: 28px;
      background: #CC0202;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: #fff;
      text-align: center;
      padding-top: 7px; }
    .white-popup .popUp .popUpBody {
      background: #f9f9f9;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px; }
      .white-popup .popUp .popUpBody label {
        font-weight: normal; }
      .white-popup .popUp .popUpBody #genLabel {
        margin-left: 15%;
        margin-top: 20px;
        margin-right: 142px; }
      .white-popup .popUp .popUpBody input[type="radio"] {
        margin-left: 10px;
        margin-right: 10px; }
      .white-popup .popUp .popUpBody .popUpInputs {
        width: 70%;
        margin-left: 15%;
        margin-top: 20px;
        border: 1px solid #CC0202;
        border-radius: 5px;
        height: 35px;
        padding-left: 10px; }
      .white-popup .popUp .popUpBody .userName {
        margin-top: 10px; }
      .white-popup .popUp .popUpBody #logInBut {
        background: #CC0202;
        color: #fff;
        margin-bottom: 10px; }
      .white-popup .popUp .popUpBody .forgotPwd {
        margin-left: 15%;
        text-decoration: none;
        color: #000; }
      .white-popup .popUp .popUpBody #signUpBut {
        background: #CC0202;
        color: #fff;
        margin-top: 10px;
        margin-bottom: 40px; }

#loginpopup .popUpBody {
  height: 270px; }

.offerspopup {
  max-width: 700px; }
  .offerspopup .mfp-close {
    padding-top: 15px; }
  .offerspopup .headOffer {
    height: 40px !important;
    text-transform: uppercase;
    font-size: 16px;
    padding-top: 14px !important; }
  .offerspopup .mallOffer {
    background: #0294C1 !important; }
  .offerspopup .brandOffer {
    background: #5D6D41 !important; }
  .offerspopup .storeOffer {
    background: #5A0884 !important; }
  .offerspopup .popUpBody {
    max-height: 500px;
    padding-top: 10px;
    padding-bottom: 10px; }
  .offerspopup .offerWidget {
    height: 152px;
    margin-bottom: 10px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #D1D1D1;
    border-radius: 10px; }
    .offerspopup .offerWidget > div {
      display: inline-block; }
    .offerspopup .offerWidget div:first-child {
      width: 200px; }
      .offerspopup .offerWidget div:first-child img {
        width: 200px;
        border-bottom-left-radius: 9px;
        border-top-left-radius: 9px; }
    .offerspopup .offerWidget div:last-child {
      width: 326px;
      float: right; }
      .offerspopup .offerWidget div:last-child div:first-child {
        width: 310px;
        padding-top: 10px;
        height: 22px; }
        .offerspopup .offerWidget div:last-child div:first-child label {
          margin-left: 10px;
          margin-right: 3px; }
        .offerspopup .offerWidget div:last-child div:first-child .offerDiscount {
          float: right; }
      .offerspopup .offerWidget div:last-child .mallHeading {
        color: #0294C1; }
      .offerspopup .offerWidget div:last-child hr {
        margin: 10px 0 10px 0; }
      .offerspopup .offerWidget div:last-child p {
        margin-left: 10px;
        height: 90px; }
      .offerspopup .offerWidget div:last-child > span {
        margin-left: 30px;
        font-size: 12px; }
  .offerspopup .offerWithoutDes .offerDiscount {
    color: #464747;
    font-size: 24px;
    text-align: center;
    margin-top: 39px; }

.eventWidget {
  height: 182px !important; }

#eventpopup {
  max-width: 700px; }

.mfp-close {
  width: 65px;
  height: 65px;
  font-size: 25px;
  color: #fff !important; }

.customSelect .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  margin-top: -55px; }
.customSelect .bootstrap-select .btn:focus {
  outline: none !important; }
.customSelect .btn-default {
  background: none;
  border: none;
  padding-left: 35px; }
.customSelect .open > .dropdown-toggle.btn-default {
  background: none;
  border: none; }
.customSelect .btn-group.open .dropdown-toggle {
  box-shadow: none; }

.searchFormHome .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  margin-top: -50px;
  width: 244px; }
  .searchFormHome .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) .btn-default {
    height: 48px; }

.searchForm .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 228px; }

.searchFormSearch {
  width: 700px; }
  .searchFormSearch .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 228px;
    margin-top: -48px; }

#storeResultFilter {
  margin-top: 20px; }
  #storeResultFilter label {
    color: #4c4c4c;
    margin-right: 10px;
    font-size: 15px;
    font-family: helveticaBold;
    font-weight: normal; }
  #storeResultFilter .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    margin-top: 0; }
  #storeResultFilter .btn-default {
    padding-left: 15px; }

.floorSearch, .categorySearch, .brandFilter {
  width: 277px !important;
  border: 1px solid #ADADAD;
  border-radius: 3px;
  margin-right: 20px;
  float: none;
  height: 35px; }

.brandFilter {
  margin-right: 0; }

#footerCommon {
  background: #424242;
  margin-top: 175px;
  height: 80px; }
  #footerCommon > div {
    width: 1100px;
    margin-left: auto;
    margin-right: auto; }
    #footerCommon > div > div {
      display: inline-block; }
    #footerCommon > div div:first-child {
      width: 15%; }
    #footerCommon > div div:last-child {
      width: 33%;
      margin-left: 7%; }
    #footerCommon > div #socialIcons {
      margin-left: 30%; }
    #footerCommon > div label {
      color: #fff;
      font-weight: normal;
      font-size: 12px; }
    #footerCommon > div #footerMenu {
      margin-left: 0;
      padding-left: 0; }

.commentButBrand {
  background: #5D6D41; }

.commentButMall {
  background: #0294C1; }

.commentButStore {
  background: #5A0884; }

#homePage .logIn a:hover {
  color: #bcbcbc; }

.homeSubmitButton:hover {
  color: #e8e6e6; }

.searchSubmitButton:hover {
  color: #8c8c8c; }

.SubmitButtonMall:hover, .SubmitButtonBrand:hover, .SubmitButtonStore:hover {
  background: #9E9E9E; }

.moreResultsButMall:hover {
  color: #0294C1;
  border-color: #0294C1 !important; }

.moreResultsButBrand:hover {
  color: #5D6D41;
  border-color: #5D6D41 !important; }

.moreResultsButStore:hover {
  color: #5A0884;
  border-color: #5A0884 !important; }

.veiwAllLink:hover {
  color: #888989; }

.seeAll:hover {
  color: #afafaf; }

.contactForm > div input[type="submit"]:hover {
  background: #9e9e9e;
  border-color: #9e9e9e; }

.storeMapFloors:hover {
  background: #e8e8e8 !important;
  color: #2b2b2b !important; }

.sliderWidgetsLinks:hover {
  color: #5A0884; }

.sliderWidgetRatingMall > div:hover {
  background: #0294C1 !important;
  color: #fff; }

.sliderWidgetRatingBrand > div:hover {
  background: #5D6D41 !important;
  color: #fff; }

.sliderWidgetRatingStore > div:hover {
  background: #5A0884 !important;
  color: #fff; }

.fixedWidget {
  position: fixed;
  width: 100% !important;
  top: 0;
  z-index: 100; }

.searchResultScroll {
  margin-left: 280px; }

.filterFixed {
  position: fixed;
  margin-top: -70px; }

.logInDiv a {
  color: #494949; }

.logInDiv a:hover, .logInDiv a:focus {
  text-decoration: none; }

.storeWidgetMap:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: url(../images/sotre-results-hover.png) no-repeat !important;
  background-position: 50% 50% !important;
  background-color: #b9b9b9 !important; }

#socialIcons img:hover, #arrowSld input:hover, #storeResultsMap input:hover {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  -moz-animation-name: hvr-bob-float, hvr-bob;
  -o-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  -moz-animation-duration: 0.3s, 1.5s;
  -o-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  -moz-animation-delay: 0s, 0.3s;
  -o-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  -moz-animation-timing-function: ease-out, ease-in-out;
  -o-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  -moz-animation-iteration-count: 1, infinite;
  -o-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  -moz-animation-direction: normal, alternate;
  -o-animation-direction: normal, alternate;
  animation-direction: normal, alternate; }

.imgGallery img:hover {
  opacity: 0.3; }

.logIcons {
  padding-top: 30px; }
  .logIcons div:last-child {
    text-align: center;
    font-size: 12px;
    margin-top: 10px; }

.socialIcons {
  display: inline-block;
  width: 85px;
  height: 30px;
  border-radius: 5px;
  margin-right: 30px; }

.fbIcon {
  background: #4b68a8 url(../images/f.png) no-repeat 50% 50%;
  background-size: 20px 20px;
  margin-left: 15%; }

.twIcon {
  background: #55acee url(../images/t.png) no-repeat 50% 50%;
  background-size: 20px 20px; }

.gpIcon {
  background: #dd4b39 url(../images/g.png) no-repeat 50% 50%;
  background-size: 20px 20px; }

.sliderWidgetName {
  margin-left: 20px;
  margin-top: 10px; }

.sliderWidgetDesP {
  height: 95px; }

.loggedIn * {
  background: transparent; }

/*# sourceMappingURL=style.css.map */