@import "_variables.scss";
@import "_mixin.scss";

@font-face{
font-family:helvetica;
    src:url(/font/Helvetica.ttf);
}
@font-face{
font-family:helveticaLight;
    src:url(/font/Helvetica-Light.ttf);
}
@font-face{
font-family:helveticaBold;
    src:url(/font/Helvetica-Bold.ttf);
}
body{
    line-height:16px;
    font-family: helvetica;
    margin:0;
    color:#636363;
}

#homePage {
    
background: url(/images/background.jpg) no-repeat center transparent ;
background-size:cover;
height:90vh;    
}
.logIn {
    font-family: helveticaLight;
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
}
#homePage .logIn 
{
    color:white; 
    a{
    text-decoration:none;
    color:#fff;
}}

#siteLogo img{
    width:159px;
}

header{
    margin-left: 10%;
    margin-right: 10%;
    margin-top:15px;
    margin-bottom:15px;
    div {
    display: inline-block;
}
.logInDiv {
    float: right;
    margin-top: 20px;
}
}

#homePage header{
    margin-top:3%;
}
#homePageSection {
    width: 874px;
    margin-left: auto;
    margin-right: auto;
}

#homeFooter {
    width: 874px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
#footerMenu {

    list-style: none;
    font-family:helveticaLight;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 30%;
    margin-top:20px;
li{
display: inline;
margin-right: 10px;
a{
text-decoration: none;
    color: white;
}}}


section>article{
    width:1100px;
    margin-left:auto;
    margin-right:auto;
}
section>article:first-child{
    width:auto;
}
//search widget

//home page
.searchWidgetHome {
    margin-top: 60px;  
    width:auto; 
}

.searchFormHome {
    height: 48px;
    font-size: 15px;
}
#homepage .bannerText{
    background:#161616
}
//home end

.searchWidgetCommon{
    height:45px;
    margin-left:auto;
    margin-right: auto;
}
.searchWidgetSearch{
@extend .searchWidgetCommon;
background: $searchcolor;

}
.searchWidget{
    @extend .searchWidgetCommon;
    margin-top: -62px;
    margin-left:55px;
}
.searchFormCommon{
    margin-left:auto;
    margin-right:auto;
    padding-top:4px;
}

.searchForm{
    @extend .searchFormCommon;
     width:675px;
     margin-top:10px;

}

.citySearchCommon {
    background: #ffffff;
    border: 1px solid white;
    border-radius: 3px; 
}

.citySearchHome{
    @extend .citySearchCommon;
    @include citysearchdiv($citysearchwidth,$cityseachheight);
    margin-top:1px; 
}

.citySearchResult{
    @extend .citySearchCommon;
    @include citysearchdiv(230px,36px);
}

.citySearch{
    @extend .citySearchResult; 
    border-color:#9E9E9E;
}


.cityIcon {    
    border: none;
    width: 15px;
    margin: 10px 5px 5px 10px;
}

.cityIconHome{
    @extend .cityIcon;
    margin-top:15px;
}
.selectCityStyle{
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    background:92% 50% no-repeat transparent;
    float: right;
    height: 100%;
}

.selectCityHome {
    @extend .selectCityStyle;
    @include selectCity($selectarrow,210px);
}
.selectcitySearch{
    @extend .selectCityStyle;
    @include selectCity($selectarrowred,200px);
}
.selectCity{
@extend .selectCityStyle;
    @include selectCity($selectarrow,200px);

}
.searchQuerryHome {
    float: right;

}
.searchQuerry{
    float:right;
    height: 36px;
}
.searchInputCommon{
   height: 100%;
   border: 1px solid white;
   border-radius: 3px; 
   padding-left: 10px;
   padding-right: 5px;
}
.searchInputHome{
    @extend .searchInputCommon;
    @include inputsearch(510px);
    height:46px;
}
.searchInputResult{
    @extend .searchInputCommon;
    @include inputsearch(325px);
}

.searchInput{
    @extend .searchInputResult;
    border-color:#9E9E9E;
    
}


.submitButton {
    border:none;
    width: 90px;
    color: white;
    border-radius: 3px;
    height: 36px;
    margin-left: 1px;
    font-family:helveticaBold;
}
.homeSubmitButton{
    @extend .submitButton;
    background-color: $searchcolor;
    height: 48px;
     width: 110px;
}
.searchSubmitButton{
    @extend .submitButton;
background-color:#fff;
color: $searchcolor;
}
.SubmitButtonMall{
    @extend .submitButton;
background-color:$mallcolor;
}
.SubmitButtonStore{
    @extend .submitButton;
background-color:$stcolor;
}
.SubmitButtonBrand{
 @extend .submitButton;
background-color:$brandcolor;
}
.searchSeperator{
    margin-left:12px;
    margin-right:13px;
    border-left:1px solid #fff;
    opacity:0.6;
}
//slider 
.sliderWidget{
    margin-top:20px;
    width:auto;
}
.mapViewSlider{
    display:none;
}
.sliderViewMap{
    display:none;
}
.mapView{
    height:309px;
    background:#000;
    content:"map";
    
}
.slider{
    width: 100%;
    height: 309px;
    position: relative;
div{
display:none;
img{width:100%;
    height:309px;
}
&:first-child{
display:block;
}}}
.slick-arrows{
    position:absolute;
    top:40%;
    z-index:12;
}
.slick-prev{
@extend .slick-arrows;    
}
.slick-next{
    @extend .slick-arrows;
    left:97%;
}
//slider end

//slider widget
.sliderWidgets{
    position:absolute;
    margin-top:-308px;
    height:308px;
    width:340px;
    background: #1C1A15;
    opacity:0.9;
    margin-left:62%;
    color:#fff;
    .sliderWidgetsTitle{
     
     height:45px;
     margin-top:15px;
     div{
         padding:17px;
         display:inline-block;
     }
     .ratingHeading{
         float:right;
     }
    }
    .sliderWidgetDes{
        margin-top:20px;
        margin-left:20px;
        font-size:12px;
        div{
        display:inline-block;
        }
        .sliderWidgetRating{
            margin-left:15%;
             div{
            width:20px;
            height:20px;
            border-radius:10px;
            padding-left:7px;
            padding-top:2px;
            margin-left:5px;
            background:#fff;
            
        }
                             .selectedRating{         
            color:#fff;
                             }
                             }
    }

p{
    font-size:12px;
    margin-left:20px;
    margin-top:20px;
}
.aboutMall{
    margin-left:20px;
    text-transform:uppercase;
    line-height:20px;
    font-size:12px;
}
.sliderWidgetsButton{
    width:125px;
    height:32px;
    background: url('../images/on-the-map.png') no-repeat 95% 50% #fff;
    border-radius:2px;
    background-size:20px 20px;
    color:#000;
    font-size:14px;
    padding:9px;
    margin-left:20px;
    margin-top:90px;
    cursor:pointer;
}
}
.sliderWidgetsTitleMall{
    @extend .sliderWidgetsTitle;
    background:$mallcolor;
}
.sliderWidgetsTitleStore{
    @extend .sliderWidgetsTitle;
    background:$stcolor;
}
.sliderWidgetsTitleBrand{
    @extend .sliderWidgetsTitle;
    background:$brandcolor;
}
.selectedRatingMall{
    @extend .selectedRating;
    background:$mallcolor !important;
}
.selectedRatingStore{
    @extend .selectedRating;
    background:$stcolor !important;
}
.selectedRatingBrand{
    @extend .selectedRating;
    background:$brandcolor !important;
    div{
        cursor:pointer;
    }
}

.sliderWidgetRatingMall{
    @extend .sliderWidgetRating;
    div{color:$mallcolor;
        cursor:pointer;
}}

.sliderWidgetRatingStore{
    @extend .sliderWidgetRating;
  div{
      color:$stcolor;
      cursor:pointer;
}}
.sliderWidgetRatingBrand{
    @extend .sliderWidgetRating;
  div
      {
      color:$brandcolor;
}}
.widgetTitle {
    font-size: 14px;
    text-transform: uppercase;
    margin: 25px 0 0 0;
    
}

.widgetTitleHome{
    @extend .widgetTitle;
    color: white;
}

.bannerWidget {
    display: inline-block;
    border: 1px solid #7C7C7C ;
    border-radius: 10px;
}

.bannerWidgetHome{
   @extend .bannerWidget;
     width: 213px;
}
.bannerWidgetCommon{
    @extend .bannerWidget;
    width: 362px;
    background:url(../images/offers.png) 0% 0% no-repeat;
    background-size:362px 160px;
    height:200px;
    margin-right:7px;
    &:first-child{
        float:left;

    }
    
    .roundDiv{
        width:80px;
        height:80px;
        border-radius:80px;
        background:#000;
        color:#fff;
        padding:40px 20px;
        margin-top:70px;
        margin-bottom:10px;
        margin-left:272px;
        opacity:0.8;
    }
    .roundDivText{
        margin-left:288px;
        position:absolute;
        margin-top:-55px;
        font-weight:bold;
        color:#fff;
    }
    .bannerWidgetText{
        font-size:14px;
        padding-top:5px;
        width:100%;
        text-align:center;
        height:25px;
        background:#000;    
        color:#fff;
        margin-top:133px;
        opacity:0.8;

    }
    .bannerWidgetTextDiv{
        position:absolute;
        width:389px;
        margin-top:-22px;
        text-align:center;
        color:#fff;
    }
    .mayLikeBox{
        margin-top:158px;
    }
    .bannerText{
        text-align:left;
        color:$mallcolor;
        span{
            float:right;
            text-decoration:none;
            cursor:pointer;
        }
    }

}
.bannerWidgetMall{
    @extend .bannerWidgetCommon;
    border-color:$mallcolor;
}
.bannerWidgetStore{
    @extend .bannerWidgetCommon;
    border-color:$stcolor;
}.bannerWidgetBrand{
    @extend .bannerWidgetCommon;
    border-color:$brandcolor;
}

.mayLikeDiv{
    background:url(../images/offers.png) 0% 0% no-repeat;
    float:right;
    width:362px;
    margin-right:0;
    .bannerWidgetArrow{
        margin-left:250px;
    }
}

.sepLineHome{
    margin-bottom:10px;
    margin-top:10px;
}
.bannerImg {
    cursor:pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#homePage .bannerImg{
    width:212px;
}
.bannerText {
    font-size:10px;
    height:40px;
    padding:11px;
    text-align: center;
    text-transform: uppercase;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}
.bWAutoSlider .bannerTextCommon{
    margin-top:-2px;
}

.bannerTextHome{
    @extend .bannerText;
    height: 40px;
    padding:15px 10px 0 10px;
    color: #eaeaea;
    background: #000;
    margin-top:-5px;
}
.bannerTextMall{
    @extend .bannerText;
    color: #eaeaea;
    background: #eaeaea;
}
.bannerTextStore{
    @extend .bannerText;
    color: $stcolor !important;
    background: #eaeaea;
}
.bannerTextBrand{
    @extend .bannerText;
    color: $brandcolor !important;
    background: #eaeaea;
}
.gallery{
    .galleryTitle{
        div{
            display: inline-block;
        
        &:last-child{
            float:right;
            margin-top:25px;
                    }}

    }
    .imgGallery{
        display: inline-block;
        img{
            border-radius:10px;
            width:271px;
        }
    }
}

.signIn {
    margin-right: 10px;
}

#socialIcons {
    margin-left: 45.5%;
    margin-top: 25px;
    img{
        width:34px;
    }
    a{
        cursor:pointer;
    }
}

#bannerWidgetArticle {
    height: 224px;
    color:#fff;
    width:873px;
}

.sepLine {
    border-top: 1px solid #969696;
    border-bottom: none;
    opacity: 0.5;
    margin-bottom: 12px;
}
.serLineHome{
    border-top-color:#fcfcfc;
}
.sepLineResult{
    @extend .sepLine;
}
.ilCls {
    display: inline-block;
}

#arrowSld {
    float: right;
    margin-top: 20px;
    input{
        width:22px;
    }
}

#homeTagLine {
    color: white;
    text-align: center;
    font-size: 28px;
    font-family: helveticaLight;
    letter-spacing:1px;   
}


.searchResultsArticle{
margin-left:auto;
margin-right:auto;
width:1100px;
.searchheadings{
    margin-top:20px;
    color:#3f3f3f;
        div{
            
            font-family: helveticaBold;
            display:inline-block;
            margin-top: 10px;
            font-size:14px;
            label{
               margin-left:380px;
               font-weight:normal;
               font-family: helveticaLight;
               margin-right:45px;
               span{
                   margin-right:5px;
               }

            }
            &:first-child{
            width: 25%;
            margin-right:1.5%;
            
        }
        }
    
}}


.selectedFilter{
    color:#fff;
    min-width:58px;
    height:25px;
    padding-left:5px;
    padding-top:4px;
    font-size:12px;
    display:inline-block;
    background:url(../images/cross-icon.png) no-repeat 95% 50% #606060;
    background-size:15px 15px;
}
.searchResultsDiv{
    margin-top:28px;
    >div{
        display:inline-block;
    }
    .filterSearch{
        width:275px;
        margin-right:0.5%;
        float:left;
    }
    .searchResults{
        width:50%;
        margin-right:1.5%;
        margin-top:3px;
       
        

    }
    .relatedSearch{
        width:22%;
        float:right;
        .relatedSearchWidget{
            img{
                width:240px;
                margin-bottom:5px;
            }
        }
    }
}

#filterResultNumber{
    float:right;
    margin-right:33px;
    font-weight:normal;
    font-size:12px;
    font-family: helveticaLight;
    span{
        margin-right:5px;

    }
}
.hideFilter{
    display:none;
}
.filterWidgetCommon{
    border-radius:2px;
    border :1px solid #969696;
    margin-top:20px;
}
.locationSearchInput{
   @extend .filterWidgetCommon;
     width:245px;
    height:30px;
    font-family: helveticaLight;
    font-size:12px;
    padding-left:15px;
}
.FilterSearchlocations{
    @extend .filterWidgetCommon;
    padding: 5px;
    height:140px;
    width:245px;
    margin-bottom:20px;
    >div{
        font-size:12px;
        font-family: helveticaLight;
        padding:10px;
    }
}
.filterSelect{
margin-top:10px;
height:35px;
width:245px;
border:1px solid #7c7c7c;
padding:9px 0 0 15px;
font-family: helveticaBold;
font-size:12px;
color:#515151;
cursor:pointer;
}
.filterArrow{
    position:absolute;
    margin-top:-26px;
    margin-left:220px;
    width:12px;
    cursor:pointer;
    img{
        width:15px;
    }
}
.filterOpen {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    //margin-top:-29px !important;
    margin-left:225px !important;
}

.searchResultsWidget{
    height:130px;
    font-size:13px;
    >div{
        display:inline-block;
    
    &:first-child{
        width:30%;
        img{
            width:132px;
            height:132px;
        }
    }
    &:last-child{
        width:70%;
        float:right;
        
        .mallname{
        font-family:helveticaBold;
        
        }
    .resultType{
        float:right;
        font-family: helveticaLight;
        width:65px;
        height:30px;
        color:#fff;
        text-align:center;
        padding-top:7px;
    }
    .brandType{
        background:$brandcolor;
    }
    .storeType{
        background:$stcolor;
    }
    .mallType{
        background:$mallcolor;
    }
    .resultLocation{
        margin-top:20px;
        margin-bottom:20px;
        span{
            font-family: helveticaLight;
            margin-left:5px;
        }
    }
    p{
        font-family: helveticaLight;
    }
    .moreResultsBut{
        font-family: helveticaLight;
        border:1px solid #7A7A7A;
        width:50px;
        height:25px;
        border-radius:3px;
        background:#fff;
        margin-top:15px;
    }
    .resultRating{
        font-family: helveticaLight;
        font-size:12px;
        float: right;
        background:none;
    }
        
        }
}} 
.relatedSearch{
    h4{
        margin-top:0;
        margin-bottom:13px;
        
        font-size:14px;
    }
    .nearByPlaceList{
    list-style:none;
    padding-left:0;
    font-size:14px;
    font-family:helveticaLight;
    }
} 
.mallType{
    color:$mallcolor;
}
.brandType{
    color: $brandcolor;
}
.storeType{
    color:$stcolor;
}

.ProductSection{
    width:1100px;
    margin-left:auto;
    margin-right:auto;
}
.contactForm{
    >div{
        display:inline-block;
        form{
            }
        
        input[type="text"],.txtarea{
            width:100%;
            border: 1px solid #9E9E9E;
            border-radius:5px;
            padding-left:10px;
            margin-top:10px;
        }
        input[type="submit"]{
            width:130px;
            height:60px;
           border:0;
            color:#fff;
            border-radius:5px;
            margin-top:10px;
            
            float:right;
        }
        .txtarea{
padding-top:10px;
font-family:helveticaLight;
font-size:14px;
        }
      &:first-child{
          width:56%;
          border-right:1px solid #7f7f7f;
          padding-right:40px;
          .comment{
              height:200px;
          }
      }
    &:last-child{
        font-family:helveticaLight;
        width:40%;
        float:right;
        height:350px;
        border:1px solid #7A7A7A;
        border-radius:5px;
        overflow-y:scroll;
        margin-top:10px;
        .reviewsWidget{
            margin-top:20px;
           
        .reviewHead{
            background:#aaaaaa;
            color:#fff;
            height:30px;
            padding-top:8px;
            span:first-child{
                margin-left:20px;
            }
            span:last-child{
                float:right;
                margin-right:20px;
            }
            
        }
        .reviewsComment{
                max-height:80px;
                margin-left:20px;
                margin-right:20px;
                margin-top:14px;
            }
        input{
            border: 0;
          width: 70px;
          font-family:helveticaBold;
          font-size:12px;
          height: 25px;
          border-radius: 3px;
          background: #fff;
          margin-top: 15px;
          margin-left:15px;
        }
        
    }}
        }
   
}

.marquee{
    width: 300px;
  overflow: hidden;
  height:300px;
  margin-bottom:28px;
}
.js-marquee{
    margin-bottom:0 !important;
    img{
        cursor:pointer;
    }

}

.brandStoreWidget{
    width:266px;
    display:inline-block;
    margin-right:10px;
    h4{
        font-size:14px;
        text-transform:uppercase;
    }
    p{
        font-size:12px;
        line-height:25px;
        span{
           
            cursor:pointer;
            font-size:12px;
            font-weight:bold;
        }
    }
}
.brandStoreSection>.brandStoreWidget:last-child{
    margin-right:0;
}
.brandSliderImg{
    padding:0 !important;
    margin-left:20px;
}
.storeWidgeButtons{
    margin-top:20px;
    div:first-child{
        margin-left:20px;
        margin-right:30px;
    }
.sliderWidgetsLinks{
    display:inline-block;
    width:130px;
    height:32px;
    background:#fff;
    border-radius:2px;
    font-size:14px;
    padding:8px;
   color:#868787;
   text-align:center;
   cursor:pointer;
}}
.productsDiv{
    margin-top:25px;
    div:last-child{
        margin-right:0;
    }
    }
.productsWidget{
    display:inline-block;
    width:166px;
    margin-right:19px;
    img{
        border-radius:2px;
    }
    .productTitle{
        text-align:center;
        margin-top:10px;
    }
}




#storeResultsArticle{
    color:#000;
    >div:first-child{
        margin-top:30px;
        div{
            font-size:14px;
            font-family:helveticaLight;
            display:inline-block;
        }
        div:first-child{
            width:69%;
        }
        div:last-child{
            width:30%;
           
        }
    }
    
    #storeResults{
        width:69%;
        display:inline-block;
        #storeSearchBox{
            width:694px;
            border:1px solid #ADADAD;
            border-radius:3px;
            height:36px;
            padding-right:40px;
            margin-top:15px;
            margin-bottom:15px;

        }
#searchIconStore{
    position:absolute;
    width:22px;
    margin-left:-35px;
    margin-top:25px;
}
    .storeWidgetMap{
        display:inline-block;
        margin-right:15px;
        margin-top:15px;
        width:130px;
        height:130px;
        border-radius:5px;
        background:url("../images/apple-_main-.png") center no-repeat;
        border: 1px solid #ADADAD;
        .storeWidgetTitle{
            background:#282828;
            text-align:center;
            color:#fff;
            font-size:14px;
            font-family:helveticaLight;
            height:28px;
            padding-top:6px;
            margin-top:100px;
            border-bottom-left-radius:5px;
            border-bottom-right-radius:5px;
        }
    }
}
    #storeResultsMap{
        float:right;
        width:30%;
        display:inline-block;
        height:530px;
        border:1px solid #ADADAD;
        background:url(../images/map.png) no-repeat center;
        .storeMapFloors{
            background:#282828;
            text-align:center;
            color:#fff;
            width:50px;
            height:50px;
            padding-top:9px;
            font-size:14px;
            font-family:helveticaLight;
            border-radius:5px;
            display:inline-block;
           
        }
          
        }
    
}
.rightArrowMap{
    float:right;
}
.mapFloors{
  margin-top:450px;
       div{
    display:inline-block;
}}


#rightArrowFloor{
    margin-top:17px;
}
//light Box Pop Up
.lightBox{
    position:absolute;
    width:100%;
    height:100%;
    z-index:999;
    background:#000;
    opacity:0.6;
}
.mapOnHover{}

.white-popup {
  position: relative;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
.popUp{
    border-radius:5px;
    .popUpHeader{
        height:28px;
        background:#CC0202;
        border-top-left-radius:5px;
        border-top-right-radius:5px;
        color:#fff;
        text-align:center;
        padding-top:7px;

    }
    .popUpBody{
        background:#f9f9f9;
        border-bottom-left-radius:5px;
        border-bottom-right-radius:5px;
        label{
            font-weight:normal;
        }
        #genLabel{
            margin-left:15%;
            margin-top:20px;
            margin-right:142px;
        }
        input[type="radio"]{
            margin-left:10px;
            margin-right:10px;
        }
        .popUpInputs{
            width:70%;
            margin-left:15%;
            margin-top:20px;
            border:1px solid #CC0202;
            border-radius:5px;
            height:35px;
            padding-left:10px;
        }
        .userName{
            margin-top:10px;
        }
        #logInBut{
            background:#CC0202;
            color:#fff;
            margin-bottom:10px;
        }
        .forgotPwd{
    margin-left:15%;
    text-decoration:none;
    color:#000;
}
        #signUpBut{
background:#CC0202;
            color:#fff;
            margin-top:10px;
            margin-bottom:40px;
        }

    }
}
}
#loginpopup .popUpBody{
    height:270px;
}    
.offerspopup{
    max-width:700px;
    .mfp-close{
        padding-top:15px;
    }
    .headOffer{
        
        height:40px !important;
        text-transform:uppercase;
        font-size:16px;
        padding-top:14px !important;
    }
    .mallOffer{
        background:$mallcolor !important;
    }
    .brandOffer{
        background:$brandcolor !important;
    }
    .storeOffer{
        background:$stcolor !important;
    }
    .popUpBody{
        max-height:500px;
        padding-top:10px;
        padding-bottom:10px;
    }
    .offerWidget{
        height:152px;
        margin-bottom:10px;
        width:80%;
        margin-left:10%;
        margin-right:10%;
        border:1px solid #D1D1D1;
        border-radius:10px;
        >div{
            display:inline-block;
        }
        div:first-child{
            width:200px;
            img{
                width:200px;
                border-bottom-left-radius:9px;
                border-top-left-radius:9px;
            }

        }
        div:last-child{
            width:326px;
            float:right;
            
            div:first-child{
                
                width:310px;
                padding-top:10px;
                height:22px;    
                label{
                    margin-left:10px;
                    margin-right:3px;
                }
                .offerDiscount{
                    float:right;
                }

            }
            .mallHeading{
                color:$mallcolor;
            }

            hr{
                margin:10px 0 10px 0;
            }
            p{
                margin-left:10px;
                height:90px;
            }
            >span{
                margin-left:30px;
                font-size:12px;
            }
        }
    }
    .offerWithoutDes{
        .offerDiscount{
            color:#464747;
            font-size:24px;
            text-align:center;
            margin-top:39px;

        }
    }
}
.eventWidget {
    height:182px !important;
    img{
        
    }
}
#eventpopup{
    max-width:700px;

}
.mfp-close{
    width:65px;
    height:65px;
    font-size:25px;
    color:#fff !important;
}

//bootstap updates
.customSelect{
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
   
    margin-top:-55px;
}
.bootstrap-select .btn:focus{
    outline:none !important;
}
 .btn-default{
    background:none;
    border:none;
    padding-left:35px;
    
}
 .open > .dropdown-toggle.btn-default{
     background:none;
    border:none;
 }
 .btn-group.open .dropdown-toggle{
     box-shadow:none;
 }
}
.searchFormHome .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    margin-top:-50px;
    width:244px;
    .btn-default{
    height:48px;
}
}
.searchForm .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    width:228px;
}
.searchFormSearch{
    @extend .searchFormCommon;
     width:700px;
     
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
        width:228px;
        margin-top:-48px;
    }
}
#storeResultFilter{
    margin-top:20px;
    label{
        color:#4c4c4c;
        margin-right:10px;
        font-size:15px;
        font-family:helveticaBold;
        font-weight:normal;
    }
 
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
    margin-top:0;
}
.btn-default{
    padding-left:15px;
}
}
.floorSearch,.categorySearch,.brandFilter{
    width:277px !important; 
    border: 1px solid #ADADAD;
    border-radius:3px; 
    margin-right:20px;
    float:none;
    height:35px;

   
}

.brandFilter{
   margin-right:0;
}
#footerCommon{
    background:#424242;
    margin-top:175px;
    height:80px;
    >div{
        width:1100px;
        margin-left:auto;
        margin-right:auto;
        >div{
        display:inline-block;
    }
    div:first-child{
        width:15%;
        
    }
    div:last-child{
        width:33%;
        margin-left:7%;
    }
    #socialIcons{
            margin-left:30%;
    }
    label{
        color:#fff;
        font-weight:normal;
        font-size:12px;
        

    }
    #footerMenu{
        margin-left:0;

        padding-left:0;
    }
}}

.commentButBrand{
    background:$brandcolor;
}
.commentButMall{
background:$mallcolor;
}
.commentButStore{
    background:$stcolor;
}


#homePage .logIn a:hover{
  color: #bcbcbc;
}
.homeSubmitButton:hover{
  color:#e8e6e6;

}
.searchSubmitButton:hover{
  color: #8c8c8c;
}
.SubmitButtonMall:hover,.SubmitButtonBrand:hover,.SubmitButtonStore:hover{
    background:#9E9E9E;
}
.moreResultsButMall:hover{
    color:$mallcolor;
    border-color:$mallcolor !important;
}

.moreResultsButBrand:hover{
    color:$brandcolor;
    border-color:$brandcolor !important;
}
.moreResultsButStore:hover{
    color:$stcolor;
    border-color:$stcolor !important;
}


.veiwAllLink:hover{
  color: #888989;
}

.seeAll{
    cursor:pointer;
}
.seeAll:hover{
  color: #afafaf;
}
//chage color to respective pages
.contactForm > div input[type="submit"]:hover{
  background: #9e9e9e;
 border-color: #9e9e9e; 
}
.storeMapFloors:hover{
  background: #e8e8e8 !important;
  color: #2b2b2b !important;
}
.sliderWidgetsLinks:hover{
  color: #5A0884;
}

.sliderWidgetRatingMall>div:hover{
background:$mallcolor !important;
color:#fff;
}
.sliderWidgetRatingBrand>div:hover{
background:$brandcolor !important;
color:#fff;
}
.sliderWidgetRatingStore>div:hover{
background:$stcolor !important;
color:#fff;
}
.fixedWidget{
    position:fixed;
    width:100% !important;
    top:0;
    z-index:100;
}
.searchResultScroll{
  
    margin-left:280px;
}
.filterFixed{
    position:fixed;
    margin-top:-70px;
    
}
.logInDiv a{
    color:#494949;
}
.logInDiv a:hover,.logInDiv a:focus{
    text-decoration:none;

}

.storeWidgetMap:hover{
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background:url(../images/sotre-results-hover.png) no-repeat !important;
   // background-size:20px 20px !important;
    background-position:50% 50% !important;
    background-color:#b9b9b9 !important;
}

#socialIcons img:hover, #arrowSld input:hover, #storeResultsMap input:hover {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    -moz-animation-name: hvr-bob-float, hvr-bob;
    -o-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    -moz-animation-duration: .3s, 1.5s;
    -o-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    -moz-animation-delay: 0s, .3s;
    -o-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    -moz-animation-timing-function: ease-out, ease-in-out;
    -o-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    -moz-animation-iteration-count: 1, infinite;
    -o-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    -moz-animation-direction: normal, alternate;
    -o-animation-direction: normal, alternate;
    animation-direction: normal, alternate; 
    
}
.imgGallery img:hover{
  opacity: 0.3;
}
.logIcons{
    padding-top:30px;
    div:last-child{
        text-align:center;
        font-size:12px;
        margin-top:10px;
    }
}
.socialIcons{
    display:inline-block;
    width:85px;
    height:30px;
    border-radius:5px;
    margin-right:30px;
}
.fbIcon{background:#4b68a8 url(../images/f.png) no-repeat 50% 50% ;
        background-size:20px 20px;
        margin-left:15%;
}
.twIcon{background:#55acee url(../images/t.png) no-repeat 50% 50% ;
        background-size:20px 20px;
}
.gpIcon{background:#dd4b39 url(../images/g.png) no-repeat 50% 50%;
        background-size:20px 20px;
}

.sliderWidgetName{
    margin-left:20px;
    margin-top:10px;
}
.sliderWidgetDesP{
    height:95px;
   // overflow-y:scroll;
}

.loggedIn *{
    background:transparent;
}