{% extends 'main.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
            <h3>Search Results</h3>
        </div>
    </div>
    <div class="row">
        <form class="navbar-form" method="get" action=".">
        <div class="col-xs-2">
            {{ form.q }}
        </div>
        <div class="col-xs-1">
            <span class="input-group input-group-btn">
                <button type="submit" class="btn btn-primary btn-group-lg">Search</button>
            </span>
        </div>
    </div>
    </form>
    
    <br/>

        {% if query %}
            
            {% for result in page.object_list %}
            <div class="row search-result">
                <div class="col-xs-2">
                    <a href="{{ result.object.get_absolute_url }}"><img style="height:100px; width:100px"  src="/ui/images/placeholder.jpg"/></a>
                </div>
                <div class="col-xs-4">
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.get_entity_name }}</a>
                    <br/>
                    <p>
                        {{ result.object.description }}
                    </p>
                </div>
            </div>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}