{% extends 'main.html' %}

{% block content %}
	<div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well well-sm">
          <form class="form-horizontal" action="" method="post">
          {% csrf_token %}
          <fieldset>
            <legend class="text-center">Create {{entity_type }}</legend>
    
            <!-- Name input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <input id="name" name="name" type="text" placeholder="{{ entity_type }} name" class="form-control">
              </div>
            </div>
            {% ifequal entity_type "store" %}
	    		<div class="form-group">
	              <label class="col-md-3 control-label" for="mall">Mall</label>
	              <div class="col-md-9">
	                <select class="form-control" id="mallist" name="mall">
	                	{% for mall in malls %}
				        <option value="{{ mall.id }}">{{ mall.name }}</option>
				        {% endfor %}
				    </select>
	              </div>
	            </div>
	        {% endifequal %}
            <!-- Email input-->
            <div class="form-group">
              <label class="col-md-3 control-label" for="owner">Owner</label>
              <div class="col-md-9">
                <input id="owned_by" name="owned_by" type="text" placeholder="Owner Name" class="form-control">
              </div>
            </div>    
            <!-- Message body -->
            <div class="form-group">
              <label class="col-md-3 control-label" for="description">Description</label>
              <div class="col-md-9">
                <textarea class="form-control" id="description" name="description" placeholder="Please enter the {{ entity_type }} description here..." rows="5"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="phone">Phone</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Contact Phone No."/>
              </div>
              </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="email">E-Mail</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="email" name="email" placeholder="Contact Email"/>
              </div>
              </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="street">Address</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="street" name="street" placeholder="Location Detail"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="nearby">Nearby</label>
              <div class="col-md-9">
                <input type="text" class="form-control" id="nearby" name="nearby" placeholder="Please add nearby landmark."/>
              </div>
            </div>
            {% ifequal entity_type "mall" %}
            <div class="form-group">
              <label class="col-md-3 control-label" for="lat">Location</label>
              <div class="col-xs-4">
                <input id="latitude" name="latitude" type="text" class="form-control" placeholder="{{ entity_type }} map latitude" />    
              </div>
              <div class="col-xs-4">
                <input id="longitude" name="longitude" type="text" class="form-control" placeholder="{{ entity_type }} map longitude" /> 
              </div>
            </div>
            {% endifequal %}            
            </div>
            <!-- Form actions -->
            <div class="form-group">
              <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
              </div>
            </div>
          </fieldset>
          </form>
        </div>
      </div>
	</div>
{% ifequal entity_type "mall" %}
<style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        padding: 0 11px 0 13px;
        width: 400px;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        text-overflow: ellipsis;
      }

      #pac-input:focus {
        border-color: #4d90fe;
        margin-left: -1px;
        padding-left: 14px;  /* Regular padding-left + 1. */
        width: 401px;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }
}

    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>

    <script>
function initialize() {
  var mapOptions = {
    center: new google.maps.LatLng(28.6322444, 77.2207238),
    zoom: 13
  };
  var map = new google.maps.Map(document.getElementById('map-canvas'),
    mapOptions);

  var input = /** @type {HTMLInputElement} */(
      document.getElementById('pac-input'));

  var types = document.getElementById('type-selector');
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
  map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

  var autocomplete = new google.maps.places.Autocomplete(input);
  autocomplete.bindTo('bounds', map);
  autocomplete.setTypes([]);

  var infowindow = new google.maps.InfoWindow();
  var marker = new google.maps.Marker({
    map: map,
    anchorPoint: new google.maps.Point(0, -29)
  });

  google.maps.event.addListener(autocomplete, 'place_changed', function() {
    infowindow.close();
    marker.setVisible(false);
    var place = autocomplete.getPlace();
    if (!place.geometry) {
      return;
    }

    // If the place has a geometry, then present it on a map.
    if (place.geometry.viewport) {
      map.fitBounds(place.geometry.viewport);
    } else {
      map.setCenter(place.geometry.location);
      map.setZoom(17);  // Why 17? Because it looks good.
    }
    marker.setIcon(/** @type {google.maps.Icon} */({
      url: place.icon,
      size: new google.maps.Size(71, 71),
      origin: new google.maps.Point(0, 0),
      anchor: new google.maps.Point(17, 34),
      scaledSize: new google.maps.Size(35, 35)
    }));
    marker.setPosition(place.geometry.location);
    marker.setVisible(true);
    document.getElementById('latitude').value = place.geometry.location.lat();
    document.getElementById('longitude').value = place.geometry.location.lng();
    var address = '';
    if (place.address_components) {
      address = [
        (place.address_components[0] && place.address_components[0].short_name || ''),
        (place.address_components[1] && place.address_components[1].short_name || ''),
        (place.address_components[2] && place.address_components[2].short_name || '')
      ].join(' ');
    }

    infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
    infowindow.open(map, marker);
  });
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
    <br/>
    <input id="pac-input" class="controls" type="text" placeholder="Enter a location"/>
    <div id="map-canvas"></div>
    
{% endifequal %}

{% endblock %}