{% extends 'main.html' %}

{% block content %}

{% load helpers %}

<div class="row">
        <div class="col-md-6 col-md-offset-1">   
           <h2><b> {% block name %} {{ entity.name }} {% endblock %} </b></h2>
        </div>
    </div>
    <!-- Modal -->
    <a id="star-notify" class="btn btn-primary" href="#primary" data-toggle="modal" style="display:none;"></a>    
    <div class="modal fade" id="primary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-header-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h1><i class="glyphicon glyphicon-info-sign"></i> <span id="modal-head"></span></h1>
                </div>
                <div class="modal-body" id="mbody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- Modal -->

    <div class="row">
        <div class="col-md-6 col-md-offset-1">   
            {% block menu %}
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            {% block images %} 

            <div class="carousel slide article-slide" id="article-photo-carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner cont-slider">

                  {% for image in images %}
                      <div class="item {% ifequal forloop.counter 1 %} active {% endifequal %}">
                        <img alt="" title="second one" class="image-main" src="{{ image }}">
                      </div>
                  {% endfor %}                  
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% for image in images %}
                      <li class="{% ifequal forloop.counter 1 %} active {% endifequal %}" data-slide-to="{{ forloop.counter }}" data-target="#article-photo-carousel">
                        <img alt="" class="image-small" src="{{ image }}">
                      </li>
                  {% endfor %}
                </ol>
              </div>      
            {% endblock %}
        </div>
            <div class="col-md-5">
                {% block ratings %}
                
                <h4><b>Ratings</b></h4>
                {% with entity|content_type as ctype %}
                <input type="hidden" name="content_type" value="{{ ctype.id }}">
                                  {% endwith %}
                                  <input type="hidden" name="object_id" value="{{ entity.id }}">
                
                {% for rating_category, ratings in rating_categories.items %}
                  <div class="row lead">
                    <div class="col-xs-3">
                          {{ rating_category }}
                    </div>
                    {% with entity|content_type as ctype %}                
                    
                    <div id="stars-{{ forloop.counter }}" emid="{{ ratings.0 }}" enabled="{{ ratings.1 }}" data-rating="{{ ratings.3 }}" val="{{ forloop.counter }}" ctype="{{ ctype.id }}" obj_id="{{ entity.id }}" class="starrr col-xs-3 col-offset-3"></div>
                        <span id="count-{{ forloop.counter }}"></span>
                  <div class="col-xs-3 lead">
                    {{ ratings.2 }} <small>votes</small>
                  </div>
                  <div class="col-xs-1 col-xs-offset-1 lead">
                    {{ ratings.3 }}
                  </div>
                  </div>
                  {% endwith %}
                {% endfor %}
      
              {% endblock %}
            </div>
    </div>
    <br/>
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        {% block description %}
        <address>
          <strong>{{ entity.name }}</strong><br>
          795 Folsom Ave, Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
        {% endblock %}
      </div>
              <div class="col-md-5">
            {% block map %}

              <script type="text/javascript">
    var map;
    $(document).ready(function(){
      map = new GMaps({
        div: '#map',
        lat: {{ location.latitude }},
        lng: {{ location.longitude }}
      });

      map.addMarker({
        lat: {{ location.latitude }},
        lng: {{ location.longitude }},
        title: 'Info Window',
        infoWindow: {
          content: '<p>{{ entity.name }}</p>'
        }
      });
    });
  </script>
  <div class="row lead">
    <div class="col-md-4 col-md-offset-1">
      Map Location
    </div>
  </div>
  <div class="row">
          <div id="map" style="height:300px; width:90%;"></div>
  </div>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-1">
            {% block reviews %}
            <div class="row lead">
              <b>Reviews</b>
            </div>
                        {% if user.is_authenticated %}
            <div class="row col-xs-10 col-xs-offset-1">
            <div class="row" style="margin-top:40px;">
              <div class="col-md-10">
                <div class="well well-sm">
                      <div class="text-right">
                          <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a>
                      </div>

                      <div class="row" id="post-review-box" style="display:none;">
                          <div class="col-md-12">
                              <form id="commentform" accept-charset="UTF-8" action="{% url 'post_comment' %}" method="post">
                                  {% csrf_token %} 
                                  <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
                                  {% with entity|content_type as ctype %}
                                    <input type="hidden" name="content_type" value="{{ ctype.id }}">
                                  {% endwith %}
                                  <input type="hidden" name="object_id" value="{{ entity.id }}">
                                  <div class="text-right">
                                      <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                                      <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                                      <button class="btn btn-success btn-lg" type="submit">Save</button>
                                  </div>
                              </form>
                    </div>
                </div>
              </div> 
              </div>
              </div>
              </div>
              {% else %}
              <div class="col-xs-10 col-xs-offset-1">
                   <a class="btn btn-success btn-green" href="{% url 'django.contrib.auth.views.login' %}">Login to Review</a>
              </div>
              {% endif %}
            {% for review in reviews %}
            <div class="row">
              <div class="col-xs-10 col-xs-offset-1">
              <blockquote class="reviews" id="1">
                <p>{{ review.text }}</p>
                <footer>{{ review.posted_by }}<cite title="Source Title"> {{ review.post_date|timesince }} ago</cite></footer>
              </blockquote>
              </div> 
            </div>
            {% endfor %}
            {% endblock %}
        </div>
    </div>
  </div>
  {% endblock %}

 