{% load socialaccount %}
 <div class="row">
        <div class="col-md-5">
    <div class="omb_login">
        <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <div class="col-xs-4 col-sm-2">
                <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-lg btn-block omb_btn-facebook">
                    
                    <span class="hidden-xs"><i class="fa fa-facebook"></i> Facebook</span>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="{% provider_login_url "twitter" method="oauth2" %}" class="btn btn-lg btn-block omb_btn-twitter">
                    <i class="fa fa-twitter visible-xs"></i>
                    <span class="hidden-xs"><i class="fa fa-twitter"></i> Twitter</span>
                </a>
            </div>  
            <div class="col-xs-4 col-sm-2">
                <a href="{% provider_login_url "google" method="oauth2" %}" class="btn btn-lg btn-block omb_btn-google">
                    
                    <span class="hidden-xs"><i class="fa fa-google-plus"></i> Google+</span>
                </a>
            </div>  
        </div>

        <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div class="col-xs-12 col-sm-6">
                <hr class="omb_hrOr">
                <span class="omb_spanOr">or</span>
            </div>
        <div class="col-xs-2 col-md-offset-5">
            <h3><a href="{% url 'signup' %}?role=ru">Sign up</a></h3>
        </div>

        </div>             
    </div>
