{% extends 'main.html' %}

{% block content %}
    <div class="row">
        <div class="col-xs-3">
            <h3>{{ result_title }}</h3>
        </div>
        <div class="col-xs-3 col-xs-offset-6">
            {% if user.is_superuser and selected %}
                <a href="{% url 'create' selected %}" class="btn btn-primary btn-lg">+ Add {{ selected }}</a>
            {% endif %}
        </div>
    </div>
    
    <br/>

        {% if entities %}
            
            {% for entity in entities %}
            <div class="row search-result">
                <div class="col-xs-2">
                    <a href="{{ result.object.get_absolute_url }}"><img style="height:100px; width:100px"  src="/ui/images/placeholder.jpg"/></a>
                </div>
                <div class="col-xs-4">
                    <a href="{{ entity.get_absolute_url }}">{{ entity.get_entity_name }}</a>
                    <br/>
                    <p>
                        {{ entity.description }}
                    </p>
                </div>
            </div>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}