{% extends 'main.html' %}

{% block content %}
<br/>
<form class="navbar-form" id="searchForm" method="get" action="/search">
  <div class="input-group input-group-lg col-xs-offset-2 col-xs-6">
  <input type="text" id="id_q" name="q" class="form-control typeahead" placeholder="Search Malls or Shops here..."/>
</div>
<span class="input-group input-group-btn">
	<button type="submit" class="btn btn-primary btn-group-lg">Search</button>
</span>
</form>
<br/>
{% load socialaccount %}
 <div class="row">
        <div class="col-md-10">
    <div class="omb_login">
        <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <div class="col-xs-4 col-sm-2">
                <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-lg btn-block omb_btn-facebook">
                    
                    <span class="hidden-xs"><i class="fa fa-facebook"></i> Facebook</span>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="{% provider_login_url "twitter" method="oauth2" %}" class="btn btn-lg btn-block omb_btn-twitter">
                    <i class="fa fa-twitter visible-xs"></i>
                    <span class="hidden-xs"><i class="fa fa-twitter"></i> Twitter</span>
                </a>
            </div>  
            <div class="col-xs-4 col-sm-2">
                <a href="{% provider_login_url "google" method="oauth2" %}" class="btn btn-lg btn-block omb_btn-google">
                    
                    <span class="hidden-xs"><i class="fa fa-google-plus"></i> Google+</span>
                </a>
            </div>  
        </div>

        <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div class="col-xs-12 col-sm-6">
                <hr class="omb_hrOr">
                <span class="omb_spanOr">or</span>
            </div>
        <div class="col-xs-2 col-md-offset-5">
            <h3><a href="{% url 'signup' %}?role=ru">Sign up</a></h3>
        </div>

        </div>             
    </div>
    </div>
    </div>
<br/>
<div class="row">
	<div class="col-xs-5 col-xs-offset-4">
	<script>
    jQuery(document).ready(function($) {

        // Select your slider element and call Flow Slider plugin.
        var $slider = $("#slider");
        $slider.FlowSlider({

            controllerOptions: [{
                mouseStart:100,
                mouseEnd:100,
            }],

            marginStart:20,
            marginEnd:20,
            mode:"horizontal"    
        });    
    });
</script>
<br/>
<br/>
	<div id="slider">
        <div class="row">
        {% load helpers %}
        {% for activity in activities %}
        <div class="col-xs-4">
        <div class="col-xs-3">
        {% with activity|get_activity_entity as aentity %}
            <p>{{ activity.user.username }}</p>
            <p>{{ activity.get_action_display }}</p>
            <p>{{ aentity }}</p>
            
        {% endwith %}
        </div> 
        </div>        
        {% endfor %}
        </div>
    </div>
	</div>
    </div>


{% endblock %}