{% extends 'common/generic_detail.html' %}

{% block name %}
 {{entity.name }}
{% endblock %}

{% block menu %}
<ul class="nav nav-tabs">
  <li role="presentation" {% ifequal selected 'home' %} class="active" {% endifequal %}><a href="{{ entity.get_absolute_url }}">Home</a></li>
  <li role="presentation" {% ifequal selected 'presentation' %} class="active" {% endifequal %}><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
{% ifequal entity.get_type 'ST' %}

{% endifequal %}
{% endblock %}
