{% extends 'main.html' %}

{% block content %}

<div class="row">
        <div class="col-xs-10 col-md-offset-4 col-md-4 well well-sm">
            <legend><a href="{% url 'home' %}"><i class="glyphicon glyphicon-globe"></i></a> Sign up!</legend>
            <form action="" method="post" class="form" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    {{ form.firstname }}
                </div>
                <div class="col-xs-6 col-md-6">
                    {{ form.lastname }}
                </div>
            </div>
            {{ form.email }}
            {{ form.username }}
            {{ form.password }}
            {{ form.retype_password }}
            {{ form.role }}
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign up</button>
            </form>
        </div>
        <div class="col-xs-md-2">
            {{ form.non_field_errors }}
            {{ form.errors }}
        </div>

    <br/>
    <br/>

{% endblock %}