{% extends 'common/generic_detail.html' %}

{% block name %}
 {{store.name }}
{% endblock %}

{% block menu %}
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Detail</a></li>
</ul>
{% endblock %}
