{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <h1>{% trans "Verify Your E-mail Address" %}</h1>

    <p>{% blocktrans %}This is an email for verification. Follow the link provided below to finalize the signup process: 
    <br/> {{ verification_link }}{% endblocktrans %}</p>

{% endblock %}
