{% extends 'main.html' %}

 {% block content %}
{% load socialaccount %}
 <div class="row">
        <div class="col-md-5">

    <div class="omb_login">
        <h3 class="omb_authTitle">Login or <a href="{% url 'signup' %}?role=ru">Sign up</a></h3>
        <div class="row omb_row-sm-offset-3 omb_socialButtons">
            <div class="col-xs-4 col-sm-2">
                <a href="{% provider_login_url "facebook" method="oauth2" %}" class="btn btn-lg btn-block omb_btn-facebook">
                    
                    <span class="hidden-xs"><i class="fa fa-facebook"></i> Facebook</span>
                </a>
            </div>
            <div class="col-xs-4 col-sm-2">
                <a href="{% provider_login_url "twitter" method="oauth2" %}" class="btn btn-lg btn-block omb_btn-twitter">
                    
                    <span class="hidden-xs"><i class="fa fa-twitter"></i> Twitter</span>
                </a>
            </div>  
            <div class="col-xs-4 col-sm-2">
                <a href="{% provider_login_url "google" method="oauth2" %}" class="btn btn-lg btn-block omb_btn-google">
                    
                    <span class="hidden-xs"><i class="fa fa-google-plus"></i> Google+</span>
                </a>
            </div>  
        </div>

        <div class="row omb_row-sm-offset-3 omb_loginOr">
            <div class="col-xs-12 col-sm-6">
                <hr class="omb_hrOr">
                <span class="omb_spanOr">or</span>
            </div>
        </div>

        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-sm-6">    
                <form class="omb_loginForm" action="{% url 'django.contrib.auth.views.login' %}" autocomplete="off" method="POST">
                {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="username" id="id_username" placeholder="username">
                    </div>
                    <span class="help-block"></span>
                                        
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input  type="password" class="form-control" name="password" placeholder="Password">
                        <input type="hidden" name="next" value="/post-login" /> 
                    </div>
                    <span class="help-block">Password error</span>

                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                </form>
            </div>
        </div>
        <div class="row omb_row-sm-offset-3">
            <div class="col-xs-12 col-md-3">
                <p class="omb_forgotPwd">
                    <a href="{% url 'account_reset_password' %}">Forgot password?</a>
                </p>
            </div>
        </div>          
    </div>

{% endblock %}