{% extends 'base.html' %}

{% block title %}
  <title>Malta: Main Page.</title>
{% endblock %}

{% block maincontent %}
  <br/>
  {% block topmenu %}

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">Markets and Malls</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li {% ifequal selected 'home' %} class="active" {% endifequal %}><a href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a></li>
        <li {% ifequal selected 'mall' %} class="active" {% endifequal %}><a href="{% url 'mall_list' %}">Malls</a></li>
        <li {% ifequal selected 'store' %} class="active" {% endifequal %}><a href="{% url 'store_list' %}">Stores</a></li>
      </ul>
      <form class="navbar-form navbar-right" action="/search" method="get" role="search">
        <div class="form-group">
          <input type="text" name="q" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        {% if not user.is_authenticated %}
        <li><a href="{% url "django.contrib.auth.views.login" %}">Login or Sign up</a></li>
        {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            {% block user_options %}
            {% endblock %}
            
            <li><a href="{{ request.user.get_profile_url }}">Profile</a></li>
            <li><a href="{% url "django.contrib.auth.views.logout" %}">Logout</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>  

  {% endblock %}
  <br/>
  <br/>
  {% block content %}
  {% endblock %}
  </div>

{% endblock %}
